In [1]:
import requests, numpy as np
import pandas as pd

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
!pip install lxml
# you will need the requests library in order to fully utilize bs4
import requests
from bs4 import BeautifulSoup
import urllib.request, urllib.parse, urllib.error
import time
# target web page
url = "https://au.indeed.com/data-scientist,-data-analyst,-research-scientist,-business-intelligence,-machine-learning,-python-jobs"
# establishing the connection to the webpage
response = requests.get(url)

# visit that url, and grab the html of said page
html = urllib.request.urlopen(url).read()

len(html)

Requirement already satisfied: lxml in c:\users\jasper\downloads\download\anaconda\lib\site-packages (4.2.3)

thinc 6.10.2 requires pathlib<2.0.0,>=1.0.0, which is not installed.
spacy 2.0.11 requires pathlib, which is not installed.
notebook 5.4.0 requires ipykernel, which is not installed.
jupyter 1.0.0 requires ipykernel, which is not installed.
jupyter-console 5.2.0 requires ipykernel, which is not installed.
ipywidgets 7.1.1 requires ipykernel>=4.5.1, which is not installed.
spacy 2.0.11 has requirement regex==2017.4.5, but you'll have regex 2017.11.9 which is incompatible.
You are using pip version 10.0.1, however version 18.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

291503

In [3]:
def get_location(division):
   try:
       return division.find('span', {'class':'location'}).text
   except:
       return 'NA'
   
def get_summary(division):
   try:
       return division.find('span', {'class':'summary'}).text
   except:
       return 'NA'

def get_jobtitle(division):
   try:
       return division.find('a', {'data-tn-element':'jobTitle'}).text
   except:
       return 'NA'
   
def get_sallary(division):
   try:
       return division.find('span', {'class':'no-wrap'}).text
   except:
       return 'NA'
   
def get_company(division):
   try:
       return division.find('span', {'class':'company'}).text
   except:
       return 'NA'
   
def get_date(division):
   try:
       return division.find('span', {'class':'date'}).text
   except:
       return 'NA'
job_data = pd.DataFrame(columns=['city', 'state', 'job_title', 'company', 'salary', 'job_description','job_type','salary_category', 'date'])
job_type=['parttime','fulltime','contract','internship','commission','temporary']
salary_category=['%2480%2C000','%24100%2C000','%24120%2C000','%24140%2C000','%24160%2C000']
job_list=[]

for x in range(0,100,10):
   for j in job_type:
       for salary in salary_category:
           url ="https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+"+salary+"&l=Australia&jt="+j+"&start="+str(x)
           print(url)
           html = requests.get(url)
           soup = BeautifulSoup(html.text, 'html.parser')
           for sp1 in soup.find_all('div', {'class':' row result'}):
               job_list.append(sp1)
           time.sleep(1)
           
           for division in job_list:
               location=get_location(division)
               job_title = get_jobtitle(division)
               company_Name = get_company(division)
               salaries = get_sallary(division)
               summary = get_summary(division)
               date=get_date(division)
               job_type=j
               salary_category=salary
               job_data.loc[len(job_data)] = [location, 'Nan', job_title, company_Name, salaries, summary,job_type,salary_category, date]
           time.sleep(1)
job_data.to_csv('my_new_job.csv')

https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+%2480%2C000&l=Australia&jt=parttime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+%24100%2C000&l=Australia&jt=parttime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+%24120%2C000&l=Australia&jt=parttime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+%24140%2C000&l=Australia&jt=parttime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+%24160%2C000&l=Australia&jt=parttime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+%&l=Australia&jt=fulltime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+2&l=Australia&jt=fulltime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+4&l=Australia&jt=fulltime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+1&l=Australia&jt=fulltime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+6&l=Australia&jt=fulltime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=fulltime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+%&l=Australia&jt=fulltime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+2&l=Australia&jt=fulltime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+C&l=Australia&jt=fulltime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=fulltime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=fulltime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=fulltime&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=contract&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=internship&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=commission&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=temporary&start=0
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=t&start=10
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=e&start=10
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=m&start=10
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=p&start=10
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=o&start=10
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=r&start=10
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=a&start=10
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=r&start=10
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=y&start=10
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=y&start=20
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=y&start=30
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=y&start=40
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=y&start=50
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=y&start=60
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=y&start=70
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=y&start=80
https://au.indeed.com/jobs?q=data+scientist%2C+data+analyst%2C+research+scientist%2C+business+intelligence%2C+machine+learning%2C+python+0&l=Australia&jt=y&start=90

In [4]:
job_data

,city,state,job_title,company,salary,job_description,job_type,salary_category,date
0,Australia,Nan,Pathologist and Research Scientist - Reserve,\n\n Australian Army,NA,\nResearch Scientists are also integral compon...,parttime,%2480%2C000,30+ days ago
1,Sydney NSW,Nan,Business Analyst Process Improvement Professional,\n\n Children's Cancer Institute,NA,\n 5+ years’ experience as a Busine...,parttime,%2480%2C000,12 days ago
2,Sydney NSW,Nan,Operations Analyst - Fast Growing Startup,\n and chill,NA,\n You are passionate about the abi...,parttime,%2480%2C000,11 days ago
3,Sydney NSW,Nan,Property Analyst,\n\n JLL,NA,\n Taking the lead in quality manag...,parttime,%2480%2C000,18 days ago
4,St Leonards NSW,Nan,Technical Marketing Content Writer (freelance ...,\n Daisee,"\n $60,000 - $120,000 a year","\n Daisee employs data scientists, ...",parttime,%2480%2C000,3 days ago
5,Australia,Nan,Programming Geek - Java/C/C++/PHP,\n AllAssignmentHelp.com,NA,\n Knowledgeable with the concepts ...,parttime,%2480%2C000,4 days ago
6,Sydney Western Suburbs NSW,Nan,Advanced Trainee,\n NSW Health Service,NA,\nResearch and Teaching:. Participation in res...,parttime,%2480%2C000,11 days ago
7,Sydney NSW,Nan,Executive Interviewer – Part Time,\n Kim & Associates,NA,\n Cultivate and maintain relations...,parttime,%2480%2C000,24 days ago
8,Canberra ACT,Nan,22-2018 - APS Level 6 - Executive Level 1 - Bu...,\n\n The Treasury,NA,\n Chief Financial Officer Division...,parttime,%2480%2C000,4 days ago
9,Australia,Nan,Pathologist and Research Scientist - Reserve,\n\n Australian Army,NA,\nResearch Scientists are also integral compon...,parttime,%24100%2C000,30+ days ago
10,Sydney NSW,Nan,Business Analyst Process Improvement Professional,\n\n Children's Cancer Institute,NA,\n 5+ years’ experience as a Busine...,parttime,%24100%2C000,12 days ago
11,Sydney NSW,Nan,Operations Analyst - Fast Growing Startup,\n and chill,NA,\n You are passionate about the abi...,parttime,%24100%2C000,11 days ago
12,Sydney NSW,Nan,Property Analyst,\n\n JLL,NA,\n Taking the lead in quality manag...,parttime,%24100%2C000,18 days ago
13,St Leonards NSW,Nan,Technical Marketing Content Writer (freelance ...,\n Daisee,"\n $60,000 - $120,000 a year","\n Daisee employs data scientists, ...",parttime,%24100%2C000,3 days ago
14,Australia,Nan,Programming Geek - Java/C/C++/PHP,\n AllAssignmentHelp.com,NA,\n Knowledgeable with the concepts ...,parttime,%24100%2C000,4 days ago
15,Sydney Western Suburbs NSW,Nan,Advanced Trainee,\n NSW Health Service,NA,\nResearch and Teaching:. Participation in res...,parttime,%24100%2C000,11 days ago
16,Sydney NSW,Nan,Executive Interviewer – Part Time,\n Kim & Associates,NA,\n Cultivate and maintain relations...,parttime,%24100%2C000,24 days ago
17,Canberra ACT,Nan,22-2018 - APS Level 6 - Executive Level 1 - Bu...,\n\n The Treasury,NA,\n Chief Financial Officer Division...,parttime,%24100%2C000,4 days ago
18,Sydney NSW,Nan,Property Analyst,\n\n JLL,NA,\n Taking the lead in quality manag...,parttime,%24100%2C000,18 days ago
19,North Shore NSW,Nan,Provisional Fellow,\n NSW Health Service,NA,\n Demonstrated commitment to resea...,parttime,%24100%2C000,11 days ago
20,Melbourne VIC,Nan,(Part-time or Job Share) Technology Solutions ...,\n\n Microsoft,NA,\n You will lead and manage relatio...,parttime,%24100%2C000,30+ days ago
21,Canberra ACT,Nan,22-2018 - APS Level 6 - Executive Level 1 - Bu...,\n\n The Treasury,NA,\n Chief Financial Officer Division...,parttime,%24100%2C000,4 days ago
22,Australia,Nan,Pathologist and Research Scientist - Reserve,\n\n Australian Army,NA,\nResearch Scientists are also integral compon...,parttime,%24120%2C000,30+ days ago
23,Sydney NSW,Nan,Business Analyst Process Improvement Professional,\n\n Children's Cancer Institute,NA,\n 5+ years’ experience as a Busine...,parttime,%24120%2C000,12 days ago
24,Sydney NSW,Nan,Operations Analyst - Fast Growing Startup,\n and chill,NA,\n You are passionate about the abi...,parttime,%24120%2C000,11 days ago
25,Sydney NSW,Nan,Property Analyst,\n\n JLL,NA,\n Taking the lead in quality manag...,parttime,%24120%2C000,18 days ago
26,St Leonards NSW,Nan,Technical Marketing Content Writer (freelance ...,\n Daisee,"\n $60,000 - $120,000 a year","\n Daisee employs data scientists, ...",parttime,%24120%2C000,3 days ago
27,Australia,Nan,Programming Geek - Java/C/C++/PHP,\n AllAssignmentHelp.com,NA,\n Knowledgeable with the concepts ...,parttime,%24120%2C000,4 days ago
28,Sydney Western Suburbs NSW,Nan,Advanced Trainee,\n NSW Health Service,NA,\nResearch and Teaching:. Participation in res...,parttime,%24120%2C000,11 days ago
29,Sydney NSW,Nan,Executive Interviewer – Part Time,\n Kim & Associates,NA,\n Cultivate and maintain relations...,parttime,%24120%2C000,24 days ago
...,...,...,...,...,...,...,...,...,...
5483,Sydney NSW,Nan,Data Scientist,\n\n OpenText,NA,\n The Data Scientist will be mostl...,y,0,30+ days ago
5484,Canberra ACT,Nan,Data & Applied Scientist,\n\n Microsoft,NA,"\n The data scientists, data engine...",y,0,2 days ago
5485,Sydney NSW,Nan,Data Scientist (Australia),\n C3 IoT,NA,\n Specialization in machine learni...,y,0,30+ days ago
5486,Australia,Nan,"Data Scientist, Google Analytics / Mixpanel ex...",\n TILTSTA,"\n $70,000 - $110,000 a year",\n • Advanced skills in mobile app ...,y,0,2 days ago
5487,Macquarie Park NSW,Nan,Retailer Data Analyst,\n\n Nielsen,NA,\n Retailer Data Analyst - 22919. R...,y,0,20 days ago
5488,Queensland,Nan,Business Intelligence Analyst,\n Finance,NA,\n We are seeking a motivated and h...,y,0,10 days ago
5489,Sydney NSW,Nan,Research & Insights Analyst,\n Nine Entertainment,NA,\n Strong research skills with expe...,y,0,18 days ago
5490,North Sydney NSW,Nan,Data Scientist,\n\n HDR,NA,"\nData Scientist, Data Analyst, Predictive Ana...",y,0,30+ days ago
5491,Canberra ACT,Nan,Research Scientist - Computer Vision for 3D,\n\n CSIRO,"\n $97,000 - $105,000 a year",\n We are seeking to appoint a high...,y,0,5 days ago
5492,Sydney NSW,Nan,Research Analyst,\n\n JLL,NA,\n We now have an exciting opportun...,y,0,27 days ago
5493,Sydney NSW,Nan,Data Scientist (Sydney),\n QuantumBlack,NA,\n Experience in statistical modell...,y,0,30+ days ago
5494,Sydney NSW,Nan,Data Warehouse Analyst,\n\n Allianz,NA,"\nData Warehouse Analyst. Data Warehouse, Hado...",y,0,2 days ago
5495,Brisbane QLD,Nan,Research Scientist - Medical Image Analysis,\n\n CSIRO,"\n $95,000 - $103,000 a year",\n CSIRO seeks an enthusiastic Rese...,y,0,4 days ago
5496,Sydney NSW,Nan,Junior Data Fulfilment Analyst,\n\n Equifax,NA,\n Junior Data Fulfilment Analyst. ...,y,0,4 days ago
5497,Canberra ACT,Nan,Senior Research Scientist in Data Survey Desig...,\n\n CSIRO,"\n $109,000 - $128,000 a year",\n CSIRO’s Data61 business unit is ...,y,0,19 days ago
5498,Perth WA,Nan,Business Intelligence Data Analyst,\n Beacham Group Pty Ltd,NA,\n Sound experience working with la...,y,0,7 days ago
5499,Clayton VIC,Nan,Administrator and Data Analyst,\n\n Monash Health,NA,\n Having experience in designing a...,y,0,14 days ago
5500,Melbourne VIC,Nan,Data Scientist,\n\n Teradata,"\n $73,300 - $108,400 a year",\n Tools Business Intelligence. The...,y,0,30+ days ago
5501,Sydney NSW,Nan,Equities Research Analyst - Industrials,\n Fulsearch,"\n $200,000 - $300,000 a year",\n Equities Research Analyst - Indu...,y,0,12 days ago
5502,Sydney NSW,Nan,"Analytics Analyst, Data & Platforms",\n\n Quantium,NA,\n Joining Quantium enables learnin...,y,0,30+ days ago
5503,Sydney NSW,Nan,Data Scientist,\n\n CBRE Asia Pacific,NA,\n Harness vast amounts of data to ...,y,0,13 days ago
5504,Sydney NSW,Nan,Data Insights Analyst,\n\n Perpetual,NA,\n In this newly created role you w...,y,0,30+ days ago
5505,Sydney NSW,Nan,"Research Analyst, Banks - Sydney (ANL/ASO)",\n\n Credit Suisse,NA,"\nResearch Analyst, Banks - Sydney (ANL/ASO). ...",y,0,16 days ago
5506,Sydney NSW,Nan,Research Analyst Gaming,\n\n Citi,NA,\n Minimum 5 years’ experience in s...,y,0,8 days ago
5507,Parkville VIC,Nan,DATA OPERATIONS ENGINEER & ANALYST,\n\n University of Melbourne,"\n $88,171 - $95,444 a year",\n Substantial background in DevOps...,y,0,21 days ago
5508,Melbourne VIC,Nan,Data Scientist / Machine Learning (blockchain),\n Crypto Recruit,"\n $100,000 - $150,000 a year",\n Experience in applying statistic...,y,0,30+ days ago
5509,Sydney NSW,Nan,Data Analyst,\n\n Macquarie Group Limited,NA,\n As an Executive/Senior Associate...,y,0,17 days ago
5510,Sydney NSW,Nan,Bureau Data Quality Analyst,\n\n EXPERIAN,NA,\nData Quality / Reporting (70%). Analyse data...,y,0,30+ days ago
5511,Sydney NSW,Nan,Data and Reporting Analyst,\n NSW Public Service Commission,NA,\nData and Reporting Analyst. We have an excit...,y,0,3 days ago
5512,Sydney NSW,Nan,Data Analyst - Sydney,\n\n EY,NA,\n Exposure to business intelligenc...,y,0,30+ days ago

In [5]:
scrape_data=pd.read_csv("my_new_job.csv",index_col=0)

In [6]:
scrape_data

,city,state,job_title,company,salary,job_description,job_type,salary_category,date
0,Australia,Nan,Pathologist and Research Scientist - Reserve,\r\n\r\n Australian Army,NaN,\r\nResearch Scientists are also integral comp...,parttime,%2480%2C000,30+ days ago
1,Sydney NSW,Nan,Business Analyst Process Improvement Professional,\r\n\r\n Children's Cancer Institute,NaN,\r\n 5+ years’ experience as a Busi...,parttime,%2480%2C000,12 days ago
2,Sydney NSW,Nan,Operations Analyst - Fast Growing Startup,\r\n and chill,NaN,\r\n You are passionate about the a...,parttime,%2480%2C000,11 days ago
3,Sydney NSW,Nan,Property Analyst,\r\n\r\n JLL,NaN,\r\n Taking the lead in quality man...,parttime,%2480%2C000,18 days ago
4,St Leonards NSW,Nan,Technical Marketing Content Writer (freelance ...,\r\n Daisee,"\r\n $60,000 - $120,000 a year",\r\n Daisee employs data scientists...,parttime,%2480%2C000,3 days ago
5,Australia,Nan,Programming Geek - Java/C/C++/PHP,\r\n AllAssignmentHelp.com,NaN,\r\n Knowledgeable with the concept...,parttime,%2480%2C000,4 days ago
6,Sydney Western Suburbs NSW,Nan,Advanced Trainee,\r\n NSW Health Service,NaN,\r\nResearch and Teaching:. Participation in r...,parttime,%2480%2C000,11 days ago
7,Sydney NSW,Nan,Executive Interviewer – Part Time,\r\n Kim & Associates,NaN,\r\n Cultivate and maintain relatio...,parttime,%2480%2C000,24 days ago
8,Canberra ACT,Nan,22-2018 - APS Level 6 - Executive Level 1 - Bu...,\r\n\r\n The Treasury,NaN,\r\n Chief Financial Officer Divisi...,parttime,%2480%2C000,4 days ago
9,Australia,Nan,Pathologist and Research Scientist - Reserve,\r\n\r\n Australian Army,NaN,\r\nResearch Scientists are also integral comp...,parttime,%24100%2C000,30+ days ago
10,Sydney NSW,Nan,Business Analyst Process Improvement Professional,\r\n\r\n Children's Cancer Institute,NaN,\r\n 5+ years’ experience as a Busi...,parttime,%24100%2C000,12 days ago
11,Sydney NSW,Nan,Operations Analyst - Fast Growing Startup,\r\n and chill,NaN,\r\n You are passionate about the a...,parttime,%24100%2C000,11 days ago
12,Sydney NSW,Nan,Property Analyst,\r\n\r\n JLL,NaN,\r\n Taking the lead in quality man...,parttime,%24100%2C000,18 days ago
13,St Leonards NSW,Nan,Technical Marketing Content Writer (freelance ...,\r\n Daisee,"\r\n $60,000 - $120,000 a year",\r\n Daisee employs data scientists...,parttime,%24100%2C000,3 days ago
14,Australia,Nan,Programming Geek - Java/C/C++/PHP,\r\n AllAssignmentHelp.com,NaN,\r\n Knowledgeable with the concept...,parttime,%24100%2C000,4 days ago
15,Sydney Western Suburbs NSW,Nan,Advanced Trainee,\r\n NSW Health Service,NaN,\r\nResearch and Teaching:. Participation in r...,parttime,%24100%2C000,11 days ago
16,Sydney NSW,Nan,Executive Interviewer – Part Time,\r\n Kim & Associates,NaN,\r\n Cultivate and maintain relatio...,parttime,%24100%2C000,24 days ago
17,Canberra ACT,Nan,22-2018 - APS Level 6 - Executive Level 1 - Bu...,\r\n\r\n The Treasury,NaN,\r\n Chief Financial Officer Divisi...,parttime,%24100%2C000,4 days ago
18,Sydney NSW,Nan,Property Analyst,\r\n\r\n JLL,NaN,\r\n Taking the lead in quality man...,parttime,%24100%2C000,18 days ago
19,North Shore NSW,Nan,Provisional Fellow,\r\n NSW Health Service,NaN,\r\n Demonstrated commitment to res...,parttime,%24100%2C000,11 days ago
20,Melbourne VIC,Nan,(Part-time or Job Share) Technology Solutions ...,\r\n\r\n Microsoft,NaN,\r\n You will lead and manage relat...,parttime,%24100%2C000,30+ days ago
21,Canberra ACT,Nan,22-2018 - APS Level 6 - Executive Level 1 - Bu...,\r\n\r\n The Treasury,NaN,\r\n Chief Financial Officer Divisi...,parttime,%24100%2C000,4 days ago
22,Australia,Nan,Pathologist and Research Scientist - Reserve,\r\n\r\n Australian Army,NaN,\r\nResearch Scientists are also integral comp...,parttime,%24120%2C000,30+ days ago
23,Sydney NSW,Nan,Business Analyst Process Improvement Professional,\r\n\r\n Children's Cancer Institute,NaN,\r\n 5+ years’ experience as a Busi...,parttime,%24120%2C000,12 days ago
24,Sydney NSW,Nan,Operations Analyst - Fast Growing Startup,\r\n and chill,NaN,\r\n You are passionate about the a...,parttime,%24120%2C000,11 days ago
25,Sydney NSW,Nan,Property Analyst,\r\n\r\n JLL,NaN,\r\n Taking the lead in quality man...,parttime,%24120%2C000,18 days ago
26,St Leonards NSW,Nan,Technical Marketing Content Writer (freelance ...,\r\n Daisee,"\r\n $60,000 - $120,000 a year",\r\n Daisee employs data scientists...,parttime,%24120%2C000,3 days ago
27,Australia,Nan,Programming Geek - Java/C/C++/PHP,\r\n AllAssignmentHelp.com,NaN,\r\n Knowledgeable with the concept...,parttime,%24120%2C000,4 days ago
28,Sydney Western Suburbs NSW,Nan,Advanced Trainee,\r\n NSW Health Service,NaN,\r\nResearch and Teaching:. Participation in r...,parttime,%24120%2C000,11 days ago
29,Sydney NSW,Nan,Executive Interviewer – Part Time,\r\n Kim & Associates,NaN,\r\n Cultivate and maintain relatio...,parttime,%24120%2C000,24 days ago
...,...,...,...,...,...,...,...,...,...
5483,Sydney NSW,Nan,Data Scientist,\r\n\r\n OpenText,NaN,\r\n The Data Scientist will be mos...,y,0,30+ days ago
5484,Canberra ACT,Nan,Data & Applied Scientist,\r\n\r\n Microsoft,NaN,"\r\n The data scientists, data engi...",y,0,2 days ago
5485,Sydney NSW,Nan,Data Scientist (Australia),\r\n C3 IoT,NaN,\r\n Specialization in machine lear...,y,0,30+ days ago
5486,Australia,Nan,"Data Scientist, Google Analytics / Mixpanel ex...",\r\n TILTSTA,"\r\n $70,000 - $110,000 a year",\r\n • Advanced skills in mobile ap...,y,0,2 days ago
5487,Macquarie Park NSW,Nan,Retailer Data Analyst,\r\n\r\n Nielsen,NaN,\r\n Retailer Data Analyst - 22919....,y,0,20 days ago
5488,Queensland,Nan,Business Intelligence Analyst,\r\n Finance,NaN,\r\n We are seeking a motivated and...,y,0,10 days ago
5489,Sydney NSW,Nan,Research & Insights Analyst,\r\n Nine Entertainment,NaN,\r\n Strong research skills with ex...,y,0,18 days ago
5490,North Sydney NSW,Nan,Data Scientist,\r\n\r\n HDR,NaN,"\r\nData Scientist, Data Analyst, Predictive A...",y,0,30+ days ago
5491,Canberra ACT,Nan,Research Scientist - Computer Vision for 3D,\r\n\r\n CSIRO,"\r\n $97,000 - $105,000 a year",\r\n We are seeking to appoint a hi...,y,0,5 days ago
5492,Sydney NSW,Nan,Research Analyst,\r\n\r\n JLL,NaN,\r\n We now have an exciting opport...,y,0,27 days ago
5493,Sydney NSW,Nan,Data Scientist (Sydney),\r\n QuantumBlack,NaN,\r\n Experience in statistical mode...,y,0,30+ days ago
5494,Sydney NSW,Nan,Data Warehouse Analyst,\r\n\r\n Allianz,NaN,"\r\nData Warehouse Analyst. Data Warehouse, Ha...",y,0,2 days ago
5495,Brisbane QLD,Nan,Research Scientist - Medical Image Analysis,\r\n\r\n CSIRO,"\r\n $95,000 - $103,000 a year",\r\n CSIRO seeks an enthusiastic Re...,y,0,4 days ago
5496,Sydney NSW,Nan,Junior Data Fulfilment Analyst,\r\n\r\n Equifax,NaN,\r\n Junior Data Fulfilment Analyst...,y,0,4 days ago
5497,Canberra ACT,Nan,Senior Research Scientist in Data Survey Desig...,\r\n\r\n CSIRO,"\r\n $109,000 - $128,000 a year",\r\n CSIRO’s Data61 business unit i...,y,0,19 days ago
5498,Perth WA,Nan,Business Intelligence Data Analyst,\r\n Beacham Group Pty Ltd,NaN,\r\n Sound experience working with ...,y,0,7 days ago
5499,Clayton VIC,Nan,Administrator and Data Analyst,\r\n\r\n Monash Health,NaN,\r\n Having experience in designing...,y,0,14 days ago
5500,Melbourne VIC,Nan,Data Scientist,\r\n\r\n Teradata,"\r\n $73,300 - $108,400 a year",\r\n Tools Business Intelligence. T...,y,0,30+ days ago
5501,Sydney NSW,Nan,Equities Research Analyst - Industrials,\r\n Fulsearch,"\r\n $200,000 - $300,000 a year",\r\n Equities Research Analyst - In...,y,0,12 days ago
5502,Sydney NSW,Nan,"Analytics Analyst, Data & Platforms",\r\n\r\n Quantium,NaN,\r\n Joining Quantium enables learn...,y,0,30+ days ago
5503,Sydney NSW,Nan,Data Scientist,\r\n\r\n CBRE Asia Pacific,NaN,\r\n Harness vast amounts of data t...,y,0,13 days ago
5504,Sydney NSW,Nan,Data Insights Analyst,\r\n\r\n Perpetual,NaN,\r\n In this newly created role you...,y,0,30+ days ago
5505,Sydney NSW,Nan,"Research Analyst, Banks - Sydney (ANL/ASO)",\r\n\r\n Credit Suisse,NaN,"\r\nResearch Analyst, Banks - Sydney (ANL/ASO)...",y,0,16 days ago
5506,Sydney NSW,Nan,Research Analyst Gaming,\r\n\r\n Citi,NaN,\r\n Minimum 5 years’ experience in...,y,0,8 days ago
5507,Parkville VIC,Nan,DATA OPERATIONS ENGINEER & ANALYST,\r\n\r\n University of Melbourne,"\r\n $88,171 - $95,444 a year",\r\n Substantial background in DevO...,y,0,21 days ago
5508,Melbourne VIC,Nan,Data Scientist / Machine Learning (blockchain),\r\n Crypto Recruit,"\r\n $100,000 - $150,000 a year",\r\n Experience in applying statist...,y,0,30+ days ago
5509,Sydney NSW,Nan,Data Analyst,\r\n\r\n Macquarie Group Limited,NaN,\r\n As an Executive/Senior Associa...,y,0,17 days ago
5510,Sydney NSW,Nan,Bureau Data Quality Analyst,\r\n\r\n EXPERIAN,NaN,\r\nData Quality / Reporting (70%). Analyse da...,y,0,30+ days ago
5511,Sydney NSW,Nan,Data and Reporting Analyst,\r\n NSW Public Service Commission,NaN,\r\nData and Reporting Analyst. We have an exc...,y,0,3 days ago
5512,Sydney NSW,Nan,Data Analyst - Sydney,\r\n\r\n EY,NaN,\r\n Exposure to business intellige...,y,0,30+ days ago

In [7]:
#dropping any duplicate rows:
scrape_data = scrape_data.drop_duplicates()
scrape_data.reset_index(drop=True, inplace=True)
scrape_data.shape

(1029, 9)