In [1]:
#use vader fro sentiment analysis
#!pip install vaderSentiment

In [2]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [3]:
#read excel files
data=pd.read_excel('articles.xlsx',sep=";")

In [4]:
data.describe()

,article_id,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,engagement_comment_plugin_count
count,10437.000000,10435.000000,10319.000000,10319.000000,10319.000000,10319.000000
mean,5218.000000,0.122089,381.395290,124.032949,196.236263,0.011629
std,3013.046714,0.327404,4433.344792,965.351188,1020.680229,0.268276
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2609.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,5218.000000,0.000000,1.000000,0.000000,8.000000,0.000000
75%,7827.000000,0.000000,43.000000,12.000000,47.500000,0.000000
max,10436.000000,1.000000,354132.000000,48490.000000,39422.000000,15.000000

In [5]:
#summary of the columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10437 entries, 0 to 10436
Data columns (total 15 columns):
article_id                         10437 non-null int64
source_id                          10437 non-null object
source_name                        10437 non-null object
author                             9417 non-null object
title                              10435 non-null object
description                        10413 non-null object
url                                10436 non-null object
url_to_image                       9781 non-null object
published_at                       10436 non-null object
content                            9145 non-null object
top_article                        10435 non-null float64
engagement_reaction_count          10319 non-null float64
engagement_comment_count           10319 non-null float64
engagement_share_count             10319 non-null float64
engagement_comment_plugin_count    10319 non-null float64
dtypes: float64(5), int64(1), object(9)
memory usage: 1.2+ MB

In [6]:
#check the number of col and rows
data.shape

(10437, 15)

In [7]:
#counting the number of articles per source
data.groupby(['source_id'])['article_id','author'].count()

                         article_id  author
source_id
1                                 1       1
abc-news                       1139    1137
al-jazeera-english              499     471
bbc-news                       1242     746
business-insider               1048    1048
cbs-news                        952     941
cnn                            1132     961
espn                             82      48
newsweek                        539     539
reuters                        1252    1252
the-irish-times                1232    1109
the-new-york-times              986     870
the-wall-street-journal         333     294

In [8]:
#number of reactions by publisher
data.groupby('source_id')['engagement_reaction_count'].count()

source_id
1                             0
abc-news                   1139
al-jazeera-english          499
bbc-news                   1242
business-insider           1048
cbs-news                    952
cnn                        1132
espn                         82
newsweek                    539
reuters                    1252
the-irish-times            1116
the-new-york-times          985
the-wall-street-journal     333
Name: engagement_reaction_count, dtype: int64

In [9]:
data.groupby('source_id')['engagement_reaction_count'].sum()

source_id
1                                0.0
abc-news                    343779.0
al-jazeera-english          140410.0
bbc-news                    545396.0
business-insider            216545.0
cbs-news                    459741.0
cnn                        1218206.0
espn                             0.0
newsweek                     93167.0
reuters                      16963.0
the-irish-times              26838.0
the-new-york-times          790449.0
the-wall-street-journal      84124.0
Name: engagement_reaction_count, dtype: float64

In [10]:
#dropping a column as it does not contribute to the insight, axis=1 to delete a column
data=data.drop('engagement_comment_plugin_count', axis=1)

In [11]:
#check the number of columns and rows after deleteion
data.shape

(10437, 14)

In [12]:
data.size

146118

In [13]:
# #to checck if a keuword exists
# def flag(X,keyword):
#     length=len(data)
#     keyword_flag=[]
#     for i in range(0,length):
#         heading=X[i]
#         try:
#             if keyword in heading:
#                 flag=1
#             else:
#                 flag=0
#         except:
#             flag=0
#         keyword_flag.append(flag)
#     return keyword_flag
# keyword_flag= flag(data['title'],'murder') # seems murder exist in row 15
#  #check ifmurder exist in row 15
# data['title'][15]  
# #add keyword_flag to data, nee to use pd.series as each column is a series within a data frame
# data['keyword_flag_murder']=pd.Series(keyword_flag)
# #add keyword_flag to data, nee to use pd.series as each column is a series within a data frame
# data['keyword_flag_murder']=pd.Series(keyword_flag)

In [14]:

sent_int=SentimentIntensityAnalyzer()

In [15]:
text=data['title'][15]

In [16]:
sent=sent_int.polarity_scores(text)

In [17]:
sent

{'neg': 0.71, 'neu': 0.29, 'pos': 0.0, 'compound': -0.8689}

In [18]:
neg=sent['neg']

In [19]:
pos=sent['pos']

In [20]:
neu=sent['neu']

In [21]:
length=len(data)

In [22]:
# #adding a for loop to extract sentiment pr title
# title_neg_sentiment=[]
# title_pos_sentiment=[]
# title_neu_sentiment=[]
# for x in range(0,length):
#     text=data['title'][x] # go through each row
#     sent_int=SentimentIntensityAnalyzer()
#     sent=sent_int.polarity_scores(text)
#     neg=sent['neg']
#     pos=sent['pos']
#     neu=sent['neu']
#     title_neg_sentiment.append(neg)
#     title_pos_sentiment.append(pos)
#     title_neu_sentiment.append(neu)

In [23]:
#the code above is not workin as there may be cell with no comment so we use try, so we need to use "try- except" to return 0 for exeption

#adding a for loop to extract sentiment pr title
title_neg_sentiment=[]
title_pos_sentiment=[]
title_neu_sentiment=[]
for x in range(0,length):
    try:
        text=data['title'][x] # go through each row
        sent_int=SentimentIntensityAnalyzer()
        sent=sent_int.polarity_scores(text)
        neg=sent['neg']
        pos=sent['pos']
        neu=sent['neu']
    except:
        neg=0
        pos=0
        neu=0
    title_neg_sentiment.append(neg)
    title_pos_sentiment.append(pos)
    title_neu_sentiment.append(neu)

In [24]:
#to create a series in order to be added as a column later
title_neg_sentiment=pd.Series(title_neg_sentiment) 
title_pos_sentiment=pd.Series(title_pos_sentiment)
title_neu_sentiment=pd.Series(title_neu_sentiment)

In [25]:
#to add the new columns to our dataframe
data['title_neg_sentiment']=title_neg_sentiment
data['title_pos_sentiment']=title_pos_sentiment
data['title_neu_sentiment']=title_neu_sentiment

In [26]:
#Writing the data
data.to_excel('blogme_cleaned.xlsx',sheet_name='blogmedata',index=False)# articlr id exist so we don't need index

C:\Users\samra\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:832: UserWarning: Ignoring URL 'https://cbsnews1.cbsistatic.com/hub/i/r/2019/09/05/26dd2d6d-119b-4f28-a5d4-3290286d025c/thumbnail/1200x630/dfe34d28071d8f1408756c4db9656083/cbsn-fusion-pope-francis-urges-continued-peace-in-mozambique-following-a-15-year-civil-war-thumbnail-1927384-640x360.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\samra\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:832: UserWarning: Ignoring URL 'https://cbsnews1.cbsistatic.com/hub/i/r/2019/09/06/0f348495-762f-4499-a897-f2b51f6dfda0/thumbnail/1200x630/46edc901537163fe5454ff727466e708/cbsn-fusion-2020-daily-trail-markers-joe-kennedy-stumps-for-warren-while-considering-senate-bid-thumbnail-1927784.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\samra\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:832: UserWarning: Ignoring URL 'https://dynaimage.cdn.cnn.com/cnn/w_1200/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F190906103859-forest-in-football-stadium---klaus-littmann-for-forest---the-unending-attraction-of-nature-wrthersee-stadium-klagenfurt--gerhard-maurer-6-super-tease.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\samra\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:832: UserWarning: Ignoring URL 'https://cbsnews3.cbsistatic.com/hub/i/r/2019/08/29/52847e7a-c5d6-4614-803c-d20017522398/thumbnail/1200x630/17e4734d0428e028d00b34b87f846f6d/cbsn-fusion-the-washington-post-says-former-vice-president-and-2020-contender-joe-biden-wants-a-woman-or-a-person-of.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\samra\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:832: UserWarning: Ignoring URL 'https://cbsnews1.cbsistatic.com/hub/i/r/2019/09/19/4483be92-15bb-42be-8442-ccbc798a7703/thumbnail/1200x630/3c6be9a15682b9190cefa7ccf1911c19/cbsn-fusion-barr-meets-with-lawmakers-on-capitol-hill-as-trump-considers-gun-legislation-proposals-thumbnail-349152.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\samra\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:832: UserWarning: Ignoring URL 'https://cbsnews3.cbsistatic.com/hub/i/r/2019/10/01/61944f8d-8242-4d4d-9618-ddbbe3b83ea6/thumbnail/1200x630/74d571cd3952125b5a94cb107ab81ad2/cbsn-fusion-trumps-campaign-could-use-impeachment-inquiry-to-play-victim-card-report-says-thumbnail-360625-640x360.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\samra\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:832: UserWarning: Ignoring URL 'https://cbsnews2.cbsistatic.com/hub/i/r/2019/10/01/c3d9f930-3a5b-496a-9ef6-6d0901853974/thumbnail/1200x630/987d4ff0dbdaa2ae131c0c9427ec2e29/cbsn-fusion-a-cbs-news-poll-shows-a-majority-of-americans-approve-of-an-impeachment-inquiry-into-president-trump.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\samra\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:832: UserWarning: Ignoring URL 'https://cbsnews1.cbsistatic.com/hub/i/r/2019/10/01/d4cbd38e-f5a8-42fd-81a0-eeb2a87d4cd4/thumbnail/1200x630/a2e1bbaf170427f9554465df109bcbcc/cbsn-fusion-saudi-arabia-crown-prince-mohammad-bin-salman-jamal-khashoggi-norah-odonnell-interview-thumbnail-360644.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\samra\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:832: UserWarning: Ignoring URL 'https://cbsnews1.cbsistatic.com/hub/i/r/2019/10/02/f111d7ae-66ee-473e-806e-e236fd4e7f57/thumbnail/1200x630/66a47b8aea60f46f7b614bfefb88f13a/cbsn-fusion-marijuana-is-on-the-menu-at-the-nations-first-cannabis-cafe-in-west-hollywood-california-thumbnail-361485.jpg' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))